<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<html>
    <h1>Exercise Table</h1>

    <a href="/">Back to Index</a>

    <table id="exercise-table">
        <thead>
            <tr>
                <th>Exercise ID</th>
                <th>Name</th>
                <th>Sets</th>
                <th>Repetitions</th>
                <th>Weight</th>
            </tr>
        </thead>
        <tbody>
            {{#each exercise}}
            <tr>
                <td>{{ExerciseID}}</td>
                <td>{{Name}}</td>
                <td>{{Sets}}</td>
                <td>{{Repetitions}}</td>
                <td>{{Weight}}</td>
                <td>
                    <button onclick="updateExercise('{{ExerciseID}}')">Update</button>
                    <button onclick="deleteExercise('{{ExerciseID}}')">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

        <h2>Add Exercise</h2>

        <form action="/add-exercise-form-ajax" method="POST">

            <label for="inputName">Name:</label>
            <input type="text" id="inputName" name="inputName" required>

            <label for="inputSets">Sets:</label>
            <input type="number" id="inputSets" name="inputSets" required>

            <label for="inputRepetitions">Repetitions:</label>
            <input type="number" id="inputRepetitions" name="inputRepetitions" required>

            <label for="inputWeight">Weight:</label>
            <input type="number" id="inputWeight" name="inputWeight" required>

            <input type="submit" value="Add Exercise">
        </form>

    <!-- Update Nutrients Form -->
    <h2>Update Exercise</h2>
    <form id="update-exercise-form-ajax">
        <label for="updateSelect">Select Exercise:</label>
        <select name="updateSelect" id="updateSelect">
            <option value="">Select an Exercise</option>
            {{#each exercise}}
            <option value="{{this.ExerciseID}}">{{this.ExerciseID}}</option>
            {{/each}}
        </select>

        <label for="updateSets">New Exercise Sets:</label>
        <input type="number" id="updateSets" name="updateSets" required>

        <input type="submit" value="Update">
    </form>


    <script src="../exercise/update_exercise.js"></script>
