<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <a href="/">Back to Index</a>
    
    <table id="fit-to-exc-table">
        <h1>FitnessToExercise Table</h1>
        <thead>
            <tr>
                <th>Workout ID</th>
                <th>ExerciseID</th>
            </tr>
        </thead>
        <tbody>
            {{#each fittoexc}}
            <tr>
                <td>{{WorkoutID}}</td>
                <td>{{ExerciseID}}</td>
                <td>
                    <button onclick="deleteFitToExc('{{WorkoutID}}')">Delete</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2>Add Fitness To Exercise</h2>

    <form action="/add-fit-to-exc-ajax" method="POST">
        <label for="inputWorkoutID">WorkoutID:</label>
        <input type="number" id="inputWorkoutID" name="inputWorkoutID" required>

        <label for="inputExerciseID">ExerciseID:</label>
        <input type="number" id="inputExerciseID" name="inputExerciseID" required>

        <input type="submit" value="Add Fitness To Exercise">
    </form>

    <!-- Update Member Form -->
    <h2>Update Fitness To Exercise</h2>
    <form id="update-fit-to-exc-form-ajax">
        <label for="updateSelect">Select WorkoutID:</label>
        <select name="updateSelect" id="updateSelect">
            <option value="">Select a WorkoutID</option>
            {{#each fittoexc}}
            <option value="{{this.WorkoutID}}">{{this.WorkoutID}}</option>
            {{/each}}
        </select>

        <label for="updateExerciseSelect">ExerciseID:</label>
        <select name="updateExerciseSelect" id="updateExerciseSelect">
            <option name="">ExerciseID:</option>
            {{#each fittoexc}} 
            <option value="{{this.ExerciseID}}">{{this.ExerciseID}}</option>
            {{/each}}
        </select>

        <input type="submit" value="Update">
    </form>



    <script src="../fit-to-exc/update_fit_to_exc.js"></script>
    <script src="../fit-to-exc/delete_fit_to_exc.js"></script>