<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Fitness Table</h1>

<a href="/">Back to Index</a>

<table id="fitness-table">
    <thead>
        <tr>
            <th>Workout ID</th>
            <th>Type</th>
            <th>Time</th>
            <th>Member ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each fitness}}
        <tr>
            <td>{{WorkoutID}}</td>
            <td>{{Type}}</td>
            <td>{{Time}}</td>
            <td>{{MemberID}}</td>
            <td>
                <button onclick="deleteFitness('{{WorkoutID}}')">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add to Fitness</h2>

<form action="/add-fitness" method="POST">
    <label for="inputType">Type:</label>
    <input type="text" id="inputType" name="inputType" required>

    <label for="inputTime">Time:</label>
    <input type="number" id="inputTime" name="inputTime" required>

    <label for="inputMemberID">MemberID:</label>
    <input type="number" id="inputMemberID" name="inputMemberID" required>

    <input type="submit" value="Add Fitness">
</form>

<!-- Update Fitness Form -->
<h2>Update Fitness</h2>
<form id="update-fitness-form-ajax">
    <label for="updateSelect">Select Fitness:</label>
    <select name="updateSelect" id="updateSelect">
        <option value="">Select a Fitness plan</option>
        {{#each fitness}}
        <option value="{{this.WorkoutID}}">{{this.WorkoutID}}</option>
        {{/each}}
    </select>

    <label for="updateType">Type:</label>
    <input type="text" id="updateType" name="updateType" required>

    <label for="updateTime">Time:</label>
    <input for="number" id="updateTime" name="updateTime" required>

    <label for="updateMemberSelect">MemberID</label>
    <select name="updateMemberSelect" id="updateMemberSelect">
        <option value="">MemberID</option>
        {{#each member}} 
        <option value="{{MemberID}}">{{MemberID}}</option>
        {{/each}} 
    </select>


    <input type="submit" value="Update">
</form>

<script src="../fitness/update_fitness.js"></script>